.container {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 50px; /* Adjust the margin to your preference for spacing */
}

.text {
  flex: 1; /* Allows the text to take up the remaining space */
}

.title {
  font-size: 20px;
}

.subtitle {
  font-size: 11px;
  color: #888; /* You can adjust the color to your preference */
}
