/* Pagination.css */
.pagination {
    display: inline-block;
    align-items: center;
    justify-content: center;
    margin: 2rem 0;
    
  } 

  .pagination a {
    padding: 5px 10px;
    margin: 0 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    color: #333;
    text-decoration: none;
    background-color: #fff;
  }
  
  .pagination a:hover {
    background-color: #ccc;
  }
  
  .pagination .active a {
    background-color: #3273dc;
    color: #fff;
  }
  
  .pagination .disabled a {
    pointer-events: none;
    color: #ccc;
  }
  